@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

@theme {
    --color-navy-900: #0B132B;
    --color-navy-800: #1C2541;
    --color-navy-700: #3A506B;
    --color-navy-500: #5BC0BE;
    --color-navy-300: #A2D5F2;
    --color-navy-100: #E0FBFC;
}


