{% extends 'base.html' %}
{% block content %}
    {% if message %}<h4 class="my-4 text-xl bg-red-300 rounded-lg p-2 w-fit">{{ message }}</h4>{% endif %}
    <h4 class="my-4 text-xl">Provide ID of your job:</h4>
    <form id="searchForm" method="GET" class="my-3">
        <input type="text"
               id="searchInput"
               placeholder="Enter job ID"
               class="w-lg p-2 bg-gray-300 border rounded-lg"
               required>
        <button type="submit" class="p-2 bg-green-300 border rounded-lg">Search</button>
    </form>
    <script>
  document.getElementById('searchForm').addEventListener('submit', function(event) {
    event.preventDefault(); // stop normal form submission
    const value = encodeURIComponent(document.getElementById('searchInput').value);
    window.location.href = `/search/${value}`;
  });
    </script>
{% endblock %}
