{% extends 'base.html' %}
{% block content %}
    <h2 class="text-xl font-bold">This website was made as a part of publication.</h2>
    <p class="">
         To learn more, please read: [Publication link/TBD]
    </p>
    <br>
    <h2 class="text-xl font-bold">Attributions:</h2>
     - ChEBI dataset, used under the Creative Commons Attribution 4.0 International License (CC BY 4.0). <br>
    Source: <a href="https://www.ebi.ac.uk/chebi/"
	class="text-blue-700 underline-offset-2 underline">ChEBI</a><br>
    License: <a href="https://creativecommons.org/licenses/by/4.0/"
	class="text-blue-700 underline-offset-2 underline">Creative Commons Attribution 4.0 International License (CC BY 4.0)</a><br>
    Modifications: No modifications were made.<br>
    Please cite them:<br>
de Matos P, Alcántara R, Dekker A, Ennis M, Hastings J, Haug K, Spiteri I, Turner S, Steinbeck C. Chemical Entities of Biological Interest: an update. Nucleic Acids Res. 2010 Jan;38(Database issue):D249-54. doi: 10.1093/nar/gkp886. Epub 2009 Oct 23. PMID: 19854951; PMCID: PMC2808869.<br>

<br>
     - GPCRdb data, used under the Creative Commons Attribution 4.0 International License (CC BY 4.0). <br>
    Source: <a href="https://gpcrdb.org/"
	class="text-blue-700 underline-offset-2 underline">gpcrdb</a><br>
    License: <a href="https://creativecommons.org/licenses/by/4.0/"
	class="text-blue-700 underline-offset-2 underline">Creative Commons Attribution 4.0 International License (CC BY 4.0)</a><br>
    Modifications: No modifications were made.<br>

    Please cite them:<br>
    Pándy-Szekeres G, Munk C, Tsonkov TM, Mordalski S, Harpsøe K, Hauser AS, Bojarski AJ, Gloriam DE. GPCRdb in 2018: adding GPCR structure models and ligands. 2017, Nucleic Acids Res., Nov 16. 10.1093/nar/gkx1109<br>
    <br>
     - <a href="https://github.com/pharmai/plip"
	class="text-blue-700 underline-offset-2 underline">Protein-Ligand Interaction Profiler (PLIP)</a> <br>
    Please cite them:<br>
    Philipp Schake, Sarah Naomi Bolz, Katja Linnemann, Michael Schroeder, PLIP 2025: introducing protein–protein interactions to the protein–ligand interaction profiler, Nucleic Acids Research, Volume 53, Issue W1, 7 July 2025, Pages W463–W465, https://doi.org/10.1093/nar/gkaf361
{% endblock %}

